@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.container {
  border: 2px solid black;
}
.reminder {
  border-left: 4px solid green;
}
*::selection {
  color: red;
  background-color: aquamarine;
}
